# Selenium configuration, override if developing locally
SELENIUM_HOST=selenium:4444

# Environment, set to dev if you want to debug
ENVIRONMENT=dev

# Logging configuration
LOG_LEVEL=INFO

# Flask Basic Auth (required)
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=password

# Qbus login credentials (required)
QBUS_USERNAME=your_qbus_username
QBUS_PASSWORD=your_qbus_password
